.og-navbar {
    width: calc(100% - 20px);
    max-width: 100vw; /* Set max-width to 100vw to prevent horizontal scrolling */
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.nav-item {
    flex-shrink: 0;
}

.navbar .communiti {
    width: auto;
    height: 45px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Corben;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar .highlight {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #0095F3;
    display: inline-block;
}

.navbar .names {
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #000;
    cursor: pointer;
}

.navbar .names.clicked,
.navbar .names.clicked .icon {
    color: #0954B0;
    text-decoration: underline;
}

.nav-item-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon1 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="38" height="26" viewBox="0 0 38 26" fill="none"><path d="M15.0943 25.4V16.4353H22.6414V25.4H32.0753V13.4471H37.7357L18.8678 0L0 13.4471H5.66035V25.4H15.0943Z" fill="%23000"/></svg>');
    width: 37.736px;
    height: 25.4px;
    flex-shrink: 0;
}

.icon2 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="21" viewBox="0 0 32 21" fill="none"><path d="M22.4707 17.7943V20.76H0V17.7943C0 17.7943 0 11.8629 11.2354 11.8629C22.4707 11.8629 22.4707 17.7943 22.4707 17.7943ZM16.8531 4.44857C16.8531 3.56873 16.5236 2.70864 15.9063 1.97708C15.289 1.24552 14.4117 0.675331 13.3852 0.338629C12.3587 0.00192751 11.2291 -0.0861691 10.1394 0.08548C9.04969 0.257129 8.04871 0.680814 7.26307 1.30296C6.47742 1.9251 5.94239 2.71776 5.72563 3.5807C5.50887 4.44364 5.62012 5.3381 6.0453 6.15097C6.47049 6.96384 7.19053 7.65861 8.11435 8.14742C9.03817 8.63624 10.1243 8.89714 11.2354 8.89714C12.7253 8.89714 14.1542 8.42846 15.2077 7.59419C16.2612 6.75992 16.8531 5.62841 16.8531 4.44857ZM22.8453 11.9518C23.8689 12.6996 24.6941 13.6014 25.2728 14.6045C25.8515 15.6076 26.1721 16.692 26.2159 17.7943V20.76H31.8335V17.7943C31.8335 17.7943 31.8335 12.6784 22.8453 11.9518ZM20.5982 1.69161e-06C20.0324 0.000269812 19.4701 0.0703088 18.9316 0.207601C20.0271 1.45167 20.6145 2.93188 20.6145 4.44857C20.6145 5.96526 20.0271 7.44547 18.9316 8.68954C19.4701 8.82684 20.0324 8.89688 20.5982 8.89714C22.0881 8.89714 23.517 8.42846 24.5705 7.59419C25.624 6.75992 26.2159 5.62841 26.2159 4.44857C26.2159 3.26874 25.624 2.13723 24.5705 1.30296C23.517 0.468689 22.0881 1.69161e-06 20.5982 1.69161e-06Z" fill="black"/></svg>');
    width: 31.834px;
    height: 20.76px;
    flex-shrink: 0;
}

.icon3 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none"><path d="M0.583496 23.5567C0.583496 25.9124 2.4685 27.7137 4.9335 27.7137H25.2335C27.6985 27.7137 29.5835 25.9124 29.5835 23.5567V12.4712H0.583496V23.5567ZM25.2335 2.77137H22.3335V1.38569C22.3335 0.554275 21.7535 0 20.8835 0C20.0135 0 19.4335 0.554275 19.4335 1.38569V2.77137H10.7335V1.38569C10.7335 0.554275 10.1535 0 9.2835 0C8.4135 0 7.8335 0.554275 7.8335 1.38569V2.77137H4.9335C2.4685 2.77137 0.583496 4.57277 0.583496 6.92844V9.69981H29.5835V6.92844C29.5835 4.57277 27.6985 2.77137 25.2335 2.77137Z" fill="black"/></svg>');
    width: 24px;
    height: 24px;
}

.icon4 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none"><path d="M21.1151 16.1003V22.4011C21.1151 22.9584 21.0531 23.4848 20.9135 23.9647C20.3396 26.2404 18.4473 27.6646 15.8415 27.6646H11.6226L6.93838 30.7763C6.2404 31.2562 5.30976 30.7453 5.30976 29.9094V27.6646C3.72767 27.6646 2.40926 27.1383 1.49413 26.2249C0.563495 25.296 0.0361328 23.9801 0.0361328 22.4011V16.1003C0.0361328 13.1589 1.86639 11.1309 4.68933 10.8678C4.89097 10.8523 5.09261 10.8368 5.30976 10.8368H15.8415C19.0057 10.8368 21.1151 12.9422 21.1151 16.1003Z" fill="black"/><path d="M24.4653 21.0541C26.4352 21.0541 28.0948 20.4039 29.2426 19.2429C30.4059 18.0973 31.0573 16.4408 31.0573 14.4747V6.57942C31.0573 2.94139 28.1103 0 24.4653 0H11.2812C7.63623 0 4.68921 2.94139 4.68921 6.57942V7.74049C4.68921 8.17396 5.03044 8.51454 5.46474 8.51454H15.8414C20.0448 8.51454 23.4416 11.9049 23.4416 16.1002V20.2801C23.4416 20.7136 23.7828 21.0541 24.2171 21.0541H24.4653Z" fill="black"/></svg>');
    width: 31.021px;
    height: 30.961px;
    flex-shrink: 0;
}

.icon5 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26" viewBox="0 0 23 26" fill="none"><path d="M11.2585 0C8.81526 0 6.47205 0.970589 4.74439 2.69825C3.01673 4.42591 2.04614 6.76912 2.04614 9.2124V14.1277L0.0726434 19.0697C0.0108321 19.2249 -0.0120533 19.3928 0.00598442 19.5589C0.0240221 19.725 0.0824346 19.8841 0.176124 20.0225C0.269813 20.1608 0.395932 20.274 0.543471 20.3524C0.691011 20.4308 0.855487 20.4718 1.02254 20.472H21.4945C21.6616 20.4718 21.8261 20.4308 21.9736 20.3524C22.1212 20.274 22.2473 20.1608 22.341 20.0225C22.4347 19.8841 22.4931 19.725 22.5111 19.5589C22.5291 19.3928 22.5063 19.2249 22.4444 19.0697L20.4709 14.1257V9.2124C20.4709 6.76912 19.5004 4.42591 17.7727 2.69825C16.045 0.970589 13.7018 0 11.2585 0ZM11.2585 25.59C10.3507 25.5902 9.46844 25.2887 8.75062 24.7328C8.0328 24.1769 7.52009 23.3983 7.29312 22.5192H15.224C14.997 23.3983 14.4843 24.1769 13.7665 24.7328C13.0486 25.2887 12.1664 25.5902 11.2585 25.59Z" fill="black"/></svg>');
    width: 22.517px;
    height: 25.59px;
    flex-shrink: 0;
}

.icon6 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none"><circle cx="17.5" cy="17.5" r="17.5" fill="%23404040"/></svg>');
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.icon7 {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M8.54529 0.252951L5.04138 3.60833L1.53748 0.252951C1.18528 -0.0843169 0.616345 -0.0843169 0.264149 0.252951C-0.0880489 0.590219 -0.0880489 1.13504 0.264149 1.4723L4.40924 5.44169C4.76143 5.77895 5.33037 5.77895 5.68256 5.44169L9.82765 1.4723C10.1798 1.13504 10.1798 0.590219 9.82765 0.252951C9.47545 -0.0756691 8.89749 -0.0843169 8.54529 0.252951Z" fill="black"/></svg>');
    width: 10.092px;
    height: 5.695px;
    flex-shrink: 0;
}

.hamburger {
    width: 40px;
    height: 40px;
}

.small-navbar {
    display: none;
    height: 80px;
    padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar .communiti {
        width: auto; 
    }
    .og-navbar {
        display: none; 
    }
    .small-navbar {
        display: flex;
        justify-content: space-between;
    }    
}
