.back-rect {
    display: flex;
    align-items: center;
    margin-left: 2%;
    height: 83px;
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.back-text {
    font-family: "Gilroy";
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
}

/* ---- ENTIRE WHITE BOX CONTAINER ----*/

.create-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 0 50px;
    padding: 24px 68px;
    border-radius: 20px;
    border: 5px solid var(--primary-black, #000);
    background: var(--primary-white, #FFF);
}

/* ---- TOP SECTION/HEADER ----*/
.create-header {
    color: var(--secondary-dark-blue, #0954b0);
    font-size: 30px;
    font-family: "Corben";
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    width: 100%;
    margin: 0;
}

/* ---- MAIN SECTION / MIDDLE SECTION ----*/

.create-main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.create-subheader {
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
    margin: 16px 0 24px 0;
}

/* ---- ALL COLUMNS ----*/
.columns-container {
    display: flex;
    flex-direction: row;
}

/* ---- LEFT COLUMN ----*/
.left-column {
    /* flex: 1;  */
    width: 30%;
    margin-left: 8px;
}   

.header-image-container {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.header-img {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


/* ---- MIDDLE COLUMN ----*/
.middle-column {
    /* flex: 1; */
    width: 40%;
}

.member-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.member-subheader {
    color: var(--MVP-black, #000);
    font-family: "Gilroy";
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    padding: 8px;
    margin: 0;
}

.toggle-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
}

.toggle-label {
    cursor: pointer;
}

.show-members {
    padding: 0px 8px;
}

.members {
    color: var(--primary-black, #000);
    font-family: "Gilroy";
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0 4px 4px 4px;
}

.ai-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 16px 0 0 0;
}

.ai-subheader {
    align-items: center;
    display: inline-flex;
    margin: 8px 0;
    width: 100%;
    color: var(--MVP-black, #000);
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* ---- RIGHT COLUMN ----*/
.right-column {
    /* flex: 1; */
    width: 30%;
}

.drafts-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

/* media queries setup but not fully implemented */

@media screen and (max-width: 576px) {
    /* Styles for even smaller screens (e.g., mobile) */
    /* X-Small devices (portrait phones, less than 576px) */
}

@media screen and (max-width: 768px) {
    /* Small devices (landscape phones, less than 768px) */
    /* Styles for smaller screens (e.g., tablets) */
    .create-container {
        max-height: none;
        overflow-y: visible;
    }
}

@media screen and (max-width: 992px) {
    /* Medium devices (tablets, less than 992px) */

}

@media screen and (max-width: 1024px) {
    /* Large devices (desktops, less than 1200px) */
}