.back-rect {
    display: flex;
    align-items: center;
    margin-left: 2%;
    height: 83px;
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.back-text {
    font-family: "Gilroy";
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
}

/* ---- ENTIRE WHITE BOX CONTAINER ----*/

.create-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 0 50px;
    padding: 24px 68px;
    border-radius: 20px;
    border: 5px solid var(--primary-black, #000);
    background: var(--primary-white, #FFF);
}

/* ---- TOP SECTION/HEADER ----*/
.create-header {
    color: var(--secondary-dark-blue, #0954b0);
    font-size: 30px;
    font-family: "Corben";
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    width: 100%;
    /* background-color: chocolate; */
}

/* ---- MAIN SECTION / MIDDLE SECTION ----*/

.create-main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* background-color: rgb(0, 17, 255); */
}

.create-subheader {
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px
    /* background-color: aqua; */
}

/* ---- ALL COLUMNS ----*/
.columns-container {
    display: flex;
    flex-direction: row;
}

/* ---- LEFT COLUMN ----*/
.left-column {
    flex-direction: column;
    flex: 1; 
    margin-left: 8px;
    /* background-color: chartreuse; */
}   

.header-image-container {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
    /* background-color: rgb(255, 0, 230); */
}

.header-img {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.upload-container {
    align-items: center;
    display: inline-flex;
    gap: 16px;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 100%;
    /* background-color: rgb(255, 157, 0); */
}

.upload-photo {
    height: 20px;
    position: relative;
    width: 22.86px;
}


/* ---- MIDDLE COLUMN ----*/
.middle-column {
    /* background-color: rgb(232, 216, 248); */
    flex: 1;
}

.member-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    /* background-color: antiquewhite; */
}

.member-subheader {
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 8px;
    margin: 0;
    /* background-color: blanchedalmond; */
}

.toggle-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
}

.show-members {
    padding: 0px 8px;
}

.members {
    color: var(--primary-black, #000);
    font-family: "Gilroy";
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0 4px 4px 4px;
    /* background-color: bisque; */
}

.ai-container {

}

.ai-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 16px 0 0 0;
    /* background-color: rgb(220, 148, 53); */
}

.ai-subheader {
    align-items: center;
    display: inline-flex;
    gap: 13px;
    margin: 8px 0;
    width: 100%;
    color: var(--MVP-black, #000);
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: antiquewhite; */
}

.ai-input {
    display: flex;
    justify-content: flex-start;
}

.ai-textarea{
    padding: 8px;
    border-radius: 8px;
    border: 3px solid #000;
    resize: none;
    width: 375px;
    height: 160px;
    font-family: "SF Pro Display", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

textarea::-webkit-scrollbar {
    width: 9px; 

}

.ai-textarea::-webkit-scrollbar-thumb {
    background-color: var(--secondary-dark-blue, #0954b0);
    border-radius: 100vw;
}

.ai-textarea::-webkit-scrollbar-track {
    background-color: var(--secondary-cream, #fff9f4);
    border-radius: 100vw;
}

.ai-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #90bff9;
}


/* ---- RIGHT COLUMN ----*/
.right-column {
    flex: 1;
    background-color: rgb(233, 171, 183);
}


/* ---- BOTTOM SECTION/FOOTER ----*/
.create-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: burlywood;
}

.drafts-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




@media screen and (max-width: 576px) {
    /* Styles for even smaller screens (e.g., mobile) */
    /* X-Small devices (portrait phones, less than 576px) */
}

@media screen and (max-width: 768px) {
    /* Small devices (landscape phones, less than 768px) */
    /* Styles for smaller screens (e.g., tablets) */
    .create-container {
        max-height: none;
        overflow-y: visible;
    }
}

@media screen and (max-width: 992px) {
    /* Medium devices (tablets, less than 992px) */

}

@media screen and (max-width: 1024px) {
    /* Large devices (desktops, less than 1200px) */
}