.back-rect {
    display: flex;
    align-items: center;
    margin-left: 2%;
    height: 83px;
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.back-text {
    font-family: "Gilroy";
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
}

/* ---- ENTIRE WHITE BOX CONTAINER ----*/

.create-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 0 50px;
    padding: 24px 68px;
    border-radius: 20px;
    border: 5px solid var(--primary-black, #000);
    background: var(--primary-white, #FFF);
}

/* ---- TOP SECTION/HEADER ----*/
.create-header {
    color: var(--secondary-dark-blue, #0954b0);
    font-size: 30px;
    font-family: "Corben";
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    width: 100%;
    margin: 0;
}

/* ---- MAIN SECTION / MIDDLE SECTION ----*/

.create-main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.create-subheader {
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
    margin: 16px 0 24px 0;
}

/* ---- ALL COLUMNS ----*/
.columns-container {
    display: flex;
    flex-direction: row;
}

/* ---- LEFT COLUMN ----*/
.left-column {
    flex: 1; 
    margin-left: 8px;
}   

.header-image-container {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
}

.header-img {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


/* ---- MIDDLE COLUMN ----*/
.middle-column {
    flex: 1;
}

.member-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.member-subheader {
    font-family: "SF Pro Display", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 8px;
    margin: 0;
}

.toggle-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 8px;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
}

.toggle-label {
    cursor: pointer;
}

.show-members {
    padding: 0px 8px;
}

.members {
    color: var(--primary-black, #000);
    font-family: "Gilroy";
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0 4px 4px 4px;
}

.ai-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 16px 0 0 0;
}

.ai-subheader {
    align-items: center;
    display: inline-flex;
    gap: 13px;
    margin: 8px 0;
    width: 100%;
    color: var(--MVP-black, #000);
    font-family: "SF Pro Display", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ai-input {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.ai-textarea{
    padding: 8px;
    border-radius: 8px;
    border: 3px solid #000;
    resize: none;
    width: 90%;
    height: 160px;
    font-family: "SF Pro Display", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


textarea::-webkit-scrollbar {
    width: 9px; 
}

.ai-textarea::-webkit-scrollbar-thumb {
    background-color: var(--secondary-dark-blue, #0954b0);
    border-radius: 100vw;
}

.ai-textarea::-webkit-scrollbar-track {
    background-color: var(--secondary-cream, #fff9f4);
    border-radius: 100vw;
}

.ai-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #90bff9;
}

.generate-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 96%;
    margin-top: 12px;
}

.generate-btn {
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--Secondary---MVP-Dark-Blue, #0954B0);
    color: var(--Primary---MVP-White, #FFF);
    text-align: center;
    font-family: "Gilroy";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: var(--primary-light-blue, #0099ff);
}

.generate-btn:active {
    background-color: #90bff9;
    color: var(--primary-black);
}


/* ---- RIGHT COLUMN ----*/
.right-column {
    flex: 1;
}

.drafts-title {
    color: var(--secondary-dark-blue, #0954b0);
    font-family: "Corben";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

/* ---- BOTTOM SECTION/FOOTER ----*/
/* .create-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: burlywood;
} */



@media screen and (max-width: 576px) {
    /* Styles for even smaller screens (e.g., mobile) */
    /* X-Small devices (portrait phones, less than 576px) */
}

@media screen and (max-width: 768px) {
    /* Small devices (landscape phones, less than 768px) */
    /* Styles for smaller screens (e.g., tablets) */
    .create-container {
        max-height: none;
        overflow-y: visible;
    }
}

@media screen and (max-width: 992px) {
    /* Medium devices (tablets, less than 992px) */

}

@media screen and (max-width: 1024px) {
    /* Large devices (desktops, less than 1200px) */
}