.confirm-container {
  width: 80%;
  min-width: 200px;
  height: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 5px solid var(--primary-black, #000);
  background: var(--primary-white, #fff);
}
.confirm-mainText {
  font-family: 'Corben', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.confirm-secondaryText {
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 50px;
}
.confirm-checkMark {
  width: 150px; 
  height: 150px;
  margin-bottom: 50px;
}
.confirm-doneButton {
  border-radius: 10px;
  color: var(--primary-white, #FFF);
  background: var(--secondary-dark-blue, #0954B0);
  font-family: Gilroy;
  font-weight: 800;
  padding: 16px 80px;
  font-size: 27px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mainText {
    font-size: 20px; /* Adjust font size for smaller screens */
    margin-bottom: 25px;
  }
  .confirm-secondaryText {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 25px;
  }
  .confirm-checkMark {
    width: 80px; 
    height: 80px;
    margin-bottom: 25px;
  }
  .confirm-doneButton {
    padding: 8px 40px;
    font-size: 20px;
  }
}