.upload-container {
    align-items: center;
    display: inline-flex;
    font-family: "Gilroy";
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    width: 100%;
}

.file-upload {
    display: none;
}

.upload-photo-label {
    display: inline-block;
    cursor: pointer;
}

.upload-svg {
    margin-right: 12px;
}


