.news-container {
  width: 84%;
  min-width: 200px;
  height: 80%;
  margin: 0% 5% 0% 5%;
  padding: 2% 2% 2% 2%;
  /* display: flex; */
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 5px solid var(--primary-black, #000);
  background: var(--primary-white, #fff);
  /* background-color: rgb(255, 172, 144); */
}
.news-topContainer {
  display: flex;
  min-height: 500px;
  height: 60vh;
}
.news-bottomContainer {
  display: flex;
  height: 10vh;
}
.news-divider {
  background-color: grey;
  width: 6px;
}
.news-dividerBottom {
  /* background-color: grey; */
  width: 6px;
}
.news-topLeft {
  width: 55%;
  max-height: 60vh;
  overflow: auto; /* Add this line to enable scrollbar */
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
.news-topRight {
  width: 40%;
  /* background-color: rgb(246, 255, 0); */
}
.news-bottomLeft {
  width: 60%;
  /* background-color: rgb(170, 0, 255); */
}
.news-bottomRight {
  width: 40%;
  /* background-color: rgb(0, 255, 26); */
}


.news-doneButton {
  border-radius: 10px;
  color: var(--primary-white, #FFF);
  background: var(--secondary-dark-blue, #0954B0);
  font-family: Gilroy;
  /* font-weight: 800;
  padding: 16px 80px;
  font-size: 27px; */
}

/* ************************* NewsEditor CSS ************************* */
.news-heroImage {
  background-color: rgb(36, 255, 244);
  width: 100%;
  height: 30vh;
  border-radius: 30px;
  margin: 10px auto 0px auto;
  object-fit: cover;
}
.news-date {
  text-align: right;
  margin: 0px 20px 20px 0;
}
.news-titleText {
  font-family: 'Corben', sans-serif;
  color: var(--primary-light-blue, blue);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  border: none;
}
.news-mainTextContainer {
  resize: none;
  border: none;
  width: 100%;
  margin-bottom: 50px;
}
.news-mainText {
  font-family: '', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 100;
  resize: none;
  border: none;
  width: 100%;
  height: 40%;
}
.news-EventsContainer {
  margin-bottom: 50px;
}
.news-Announcements-container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ************************* Calendar CSS ************************* */

/* ************************* Media Change CSS ************************* */
@media (max-width: 768px) {
  .news-titleText {
    font-size: 20px; /* Adjust font size for smaller screens */
    margin-bottom: 25px;
  }
  .news-secondaryText {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 25px;
  }
  .news-doneButton {
    padding: 8px 40px;
    font-size: 20px;
  }
  .news-Announcements-container {
    flex-direction: column;
  }
}