.calendarTitle {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: 'Corben', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  caret-color: transparent;
  cursor: default;
}

.calendarContainer {
  padding: 20px 10px 10px 10px;
  caret-color: transparent;
  /* background-color: aqua; */
}

.calendar-arrow {
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "SF Pro Display";
  font-size: 30px;
  font-style: bold;
  font-weight: 1000;
  line-height: 24px; /* 120% */
  letter-spacing: -0.43px;
  cursor: pointer;
  caret-color: transparent;
}

.rbc-calendar {
  cursor: pointer;
}

.selectedDate {
  background-color: black;
}