.announce-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px #999999;
}
.announce-image-container {
  display: flex;
  flex-direction: row;
}
.announce-image {
  background-color: rgb(36, 255, 244);
  width: 70px;
  height: 70px;
}
.announce-title {
  margin-left: 30px;
  color: #000;
  text-align: left;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 115.645%;
}
.announce-time {
  color: #000;
  text-align: left;
  font-feature-settings: 'clig' off, 'liga' off;
  /* Desktop - Body */
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 115.645%; /* 28.911px */
}
.announce-mainText {
  font-size: 17px;
}
.announce-circle {
  width: 20px;
  height: 20px;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
 
/* ************************* Media Change CSS ************************* */
@media (max-width: 768px) {

}