.events-container {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}
.events-mainImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  /* background-color: rgb(36, 255, 244); */
}
.events-mainImage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.events-button {
  width: 100%;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--secondary-dark-blue);
  color: var(--Primary---MVP-White, #FFF);
  font-family: Gilroy;
  cursor: pointer;
}
.events-info p {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
}
.events-site {
  font-size: 15px;
}
.events-title {
  font-size: 17px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events-mainText{
  font-size: 15px;
  font-weight: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events-date{
  font-size: 12px;
}
.events-time{
  font-size: 10px;
}

.events-circle {
  width: 20px;
  height: 20px;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.events-circle:hover {
  color: black;
  background-color: var(--primary-light-blue);
}